*{
    background-color:#FFF3E2;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    color: #E74646;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 1em;
}
h2{
    
}
.container,
ul{
    list-style: none;
}
a, 
.element{
    color: black;
    background-color: antiquewhite;
    font-weight: 600;
    font-size: large;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    margin-bottom: 0.75em;
    border-radius: 0.5em;
}
a:hover{
    background-color:#FA9884 ;
}